.container-carousel {
  margin-top: 5px;
}

.swiper {
  width: 100%;
  height: 300px; /* Ajuste conforme necessário */
}

/* Ajusta os slides para ocuparem o espaço corretamente */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajusta as imagens dentro do Swiper */
.swiper-slide img {
  width: 100%; /* Faz a imagem ocupar toda a largura do container */
  height: 100%; /* Faz a imagem ocupar toda a altura do container */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}
